.landingPageContainer{
    width: 100vw;
    height: 100vh;
    background : url("../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.landingPageContainer nav .navList{
     display: flex;
     gap: 1.6rem;
     cursor: pointer;
}

.landingPageMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingPageMainContainer > div:nth-child(1) {
    font-size: 1.5rem;
}

.landingPageMainContainer > div:nth-child(1) div[role='button']{
    background : #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1.9rem;
}

.landingPageMainContainer > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
}

.landingPageMainContainer .right img{
   height: 70vh;
   width: auto;
}

.navBar{
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.leftPanel{
  display: flex;
  align-items: center;
}

.rightPanel{
  display: flex;
  align-items: center;
}

.rightPanel > img{
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.meetContainer{
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



