.meetVideoContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(1, 4, 50);
}

.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.btnContainer{
 position: absolute;
 width: 100vw;
 bottom: 0;
 text-align: center;
}

.icons svg{
    font-size: 3rem;
}
.conferenceView{
  display: flex; 
  padding: 10px;
  gap: 10px;
}


.conferenceView > video{
 width: 40vw;
 height: 20vh;
 min-width: 30vw;
 border-radius : 10px;
}

.chatRoom{
    color: black;
    position: absolute;
    height: 90vh;
    width: 26vw;
    right: 0;
    background-color: wheat;
    border-radius: 10px;
    bottom: 10vh;
    padding-inline: 20px;
}

.chatContainer{
    position: absolute;
    height: 100%;
}

.chattingArea{
    width: 19rem;
    display: flex;
    position: absolute;
    bottom: 2vh;
}

.chattingDisplay{
    width: 100%;
    color: black;
    background-color: wheat;
}
